body {
  background-image: linear-gradient(50deg, black 1%, silver 60%, teal);
  display: flex;
  background-repeat: no-repeat;
  background-size:auto;
  margin:0px;
  padding:0px;
 }
#outer{
  margin:0px;
  padding:0px;
  display:flex;
  height:100vh;
  width:100vw;
  box-sizing:border-box;
}
#profile{
 margin:0px;
  padding:0px;
  display:flex;
  flex-direction:column;
  }
#image{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  box-sizing:border-box;
  margin:50px 20px;
  min-width:300px;
  box-sizing:border-box;
  flex:3;
 }
#image img{
  border:5px solid #adb3bc;
  border-radius:50%;
  box-shadow:2px 2px 4px whitesmoke;
}
#image img:hover{
  border:5px solid teal;
  box-shadow:2px 2px 4px;
}
#thiru{
  color:teal;
  font-size:13px;
  text-shadow:1px 1px 5px;
}
#others{
  margin:0px;
  padding:5px;
  min-width:505px;
  border-left:5px solid #615c5c ;
  flex:10;
  display:flex;
  flex-direction: column;
  justify-content:center;
  box-sizing:border-box;
  }
h3{
  margin:20px;
  flex:2;
  color:whitesmoke;
  font-size:35px;
  display:flex;
  align-items:center;
  text-shadow:1px 1px 2px black;
  }
h3:hover{
 color:white;
 text-shadow:none;
}
p{
  margin:20px;
  flex:1;
  word-spacing:3px;
  text-align:justify;
  line-height:25px;
} 
#main{
  text-indent: 5%;
}
ul{
  display:flex;
  flex:4;
  list-style-type:none;
}
ul li{
  margin:auto;
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
}
p a{
  position: relative;
  font-size:15px;
  color:whitesmoke;
  text-decoration:none;
  text-align: center;
 }
p a:hover{
  font-size:16px;
}
p a:active{
  color:green;
}
p a:visited{
  color:viole;
}
ul li a{
  text-decoration:none;
  font-size:15px;
  text-align:center;
  color:whitesmoke;
  padding:5px;
  background-color:transparent;
  border: 5px solid #adb3bc;
  width:80px;
  height:80px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  box-sizing:border-box;
}
li a:hover{
 height:90px;
 width:90px;
  font-size:18px;
  border:2px solid teal;
 background-color:transparent;
 border-color:teal;
}
